@font-face {
  font-family: 'EB Garamond';
  font-weight: 400;
  font-style: normal;
  src: 'file://./fonts/EB-Garamond-regular/EB-Garamond-regular.eot';
  src: url('/fonts/EB-Garamond-regular/EB-Garamond-regular.eot?#iefix') format('embedded-opentype'),
       local('EB Garamond'),
       local('EB-Garamond-regular'),
       './fonts/EB-Garamond-regular/EB-Garamond-regular.woff2' format('woff2'),
       '/fonts/EB-Garamond-regular/EB-Garamond-regular.woff' format('woff'),
       '/fonts/EB-Garamond-regular/EB-Garamond-regular.ttf' format('truetype'),
       '/fonts/EB-Garamond-regular/EB-Garamond-regular.svg#EBGaramond' format('svg');
}

