body {
    font-family: 'EB Garamond';
    font-size: 10pt;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#page-wrap {
    width: 612pt;
    margin: 2% auto 2%;
}

h1 {
    font-size: 2.0em;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h3 {
    font-size: 2.0em;
    color: #012C34;
    margin: 0 0 0.2em 0;
    padding: 0 0 0 0;
}

h3:before {
    content: "";
    display: inline-block;
    width: 15%;
    height: 2.0em;
    margin 0 0 0 0;
    padding 0 0 0.2em 0;
/*    border-bottom: 0.1em solid #0F444F; */
}

p {
    font-size: 1.1em;
    text-align: justify;
    margin: 0 1.1em 0.15em 1.1em;
    padding: 0 0 0 0;
}

.deets {
    font-size: 1.2em;
    text-align: center;
    margin: 0.15em 0 0 0;
    padding 0 0 0 0;
}

p img {
    height: 1em;
    width: auto;
}

dl {
    float: left;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

dt {
    clear: left;
    float: left;
    width: 15%;
    margin: 0.2em 0 0 0;
    padding: 0 1em 0 0;
    text-align: right;
}

dt span {
    color: #437983;
}

dd {
    float: left;
    width: 82%;
    padding: 0 0 1em 1em;
    margin: 0 0 0 0;
    border-left: 2px solid #0F444F;
    font-size: 1em;
}

ul {
    padding-left: 1.4em;
    font-size: 1.1em;
    margin: 0 0 0 0;
}
/*
li {
    margin-left: -1.5%;
}
